* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c0c2c4;
  padding: 1%;
}

h1,
h2,
h3 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
}

#header {
  background-image: url('imagens/UNADJUSTEDNONRAW_thumb_126.jpg');
  height: 300px;
  background-size: cover;
  background-position: 25% 47%;
}

#picture {
  height: 300px;
  float: left;
}

#sites {
  padding: 30px;
  font-size: 30px;
  line-height: 40px;
}

#atalho li:hover {
  font-weight: 700;
}

#atalho a[href*="perfil"] {
  color: black;
}

#atalho a[href*="descrição"] {
  color: black;
}

#atalho a[href*="habilidades"] {
  color: black;
}

#atalho a[href*="sites"] {
  color: black;
}

p {
  color: black;
  font-size: 25px;
  line-height: 35px;
  text-align: justify;
}

#habilidades {
  font-size: 25px;
  padding: 30px;
  line-height: 40px;
}

#sites li:hover {
  font-weight: 700;
}

#sites a[href*="linkedin"] {
  color: black;
}

#sites a[href*="gregario"] {
  color: black;
}

#sites a[href*="github"] {
  color: black;
}

#sites a[href*="developer"] {
  color: black;
}

#sites a[href*="w3s"] {
  color: black;
}

.container {
  width: 99%;
  display: inline-block;
  border: 5px solid black;
}

#atalho {
  font-size: 30px;
  line-height: 40px;
  list-style-position: inside;
  margin: 50px;
}